<div class="container">
  <div class="row justify-content-center pr-4">
    <article
      class="card border-color-card card-largura m-4 p-0 col-12 col-md-4"
    >
      <img
        src="./assets/images/torta-alice.jpeg"
        class="card-img-top img-torta-alice"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title cor-especial">Torta da Alice 🥧</h5>
        <p class="card-text">massa cookie tradicional com recheio de chocolate meio-amargo
             </p>
        <a [href]="linkTortaAlice" class="btn btn-cor-especial">Quero comprar</a>
      </div>
    </article>
    <article
      class="card border-color-card card-largura m-4 p-0 col-12 col-md-4"
    >
      <img
        src="./assets/images/torta-chapeleiro.jpeg"
        class="card-img-top img-torta-chapeleiro"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title cor-especial">Torta Chapeleiro Maluco 🎩</h5>
        <p class="card-text">
          Massa de chocolate com recheio de brigadeiro branco</p>
        <a [href]="linkTortaChapeleiro" class="btn btn-cor-especial">Quero comprar</a>
      </div>
    </article>

    <article
      class="card border-color-card card-largura m-4 p-0 col-12 col-md-4"
    >
      <img
        src="./assets/images/torta-coelho-branco.jpeg"
        class="card-img-top img-torta-coelho-branco"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title cor-especial">Torta Coelho Branco 🐰</h5>
        <p class="card-text">
          Massa salgada com recheio de frango</p>
        <a [href]="linkTortaCoelho" class="btn btn-cor-especial">Quero comprar</a>
      </div>
    </article>
  </div>
</div>
