.btn-cor-especial{
 background-color:rgb(237, 198, 220) ;
 color: #592E1F;
 position: relative;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 1000px;
  font-weight: bold;

}

.btn-cor-especial:hover {
  transform: rotateY(10deg) translateZ(50px);
  transform: scale(1.1);

}




.card {
  position: relative;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 1000px;
  transform: rotateY(10deg) translateZ(50px);
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5%;

}

.cor-especial
{
  color: #592E1F;
}


.img-card{
  object-fit: cover;
  height: 200px;
  object-position: 0 88%;

}

.card-largura{
  max-width: 18rem;
}



