<div class="container">

  <div class="row justify-content-center">



<article class="card border-color-card card-largura m-4 p-0 col-12 col-md-4" >
  <img src="../../../assets/images/receita-abacate.jpg" class="card-img-top img-card" alt="...">
  <div class="card-body">
    <h5 class="card-title">Tigela de abacate</h5>
    <p class="card-text">Receita refrescante e cheia de vitaminas para o seu café da manhã!</p>
    <a href="#" class="btn  btn-cor-especial">Quero comprar</a>
  </div>
</article>

<article class="card border-color-card card-largura m-4 p-0 col-12 col-md-4" >
  <img src="../../../assets/images/receita-kiwi.jpg" class="card-img-top img-card" alt="...">
  <div class="card-body">
    <h5 class="card-title">Salada de kiwi</h5>
    <p class="card-text">Receita refrescante e cheia de vitaminas para o seu café da manhã!</p>
    <a href="#" class="btn  btn-cor-especial">Quero comprar</a>
  </div>
</article>

<article class="card border-color-card card-largura m-4 p-0 col-12 col-md-4" >
  <img src="./../../assets/images/receita-mix.jpg" class="card-img-top img-card" alt="...">
  <div class="card-body">
    <h5 class="card-title">Mix de vegetais</h5>
    <p class="card-text">Receita refrescante e cheia de vitaminas para o seu café da manhã!</p>
    <a href="#" class="btn  btn-cor-especial">Quero comprar</a>
  </div>
</article>


<article class="card border-color-card card-largura m-4 p-0 col-12 col-md-4" >
  <img src="../../../assets/images/receita-pimentoes.jpg" class="card-img-top img-card" alt="...">
  <div class="card-body">
    <h5 class="card-title">Pimentões à Juliana</h5>
    <p class="card-text">Receita refrescante e cheia de vitaminas para o seu café da manhã!</p>
    <a href="#" class="btn  btn-cor-especial">Quero comprar</a>
  </div>
</article>

<article class="card border-color-card card-largura m-4 p-0 col-12 col-md-4" >
  <img src="../../../assets/images/receita-oriental.jpg" class="card-img-top img-card" alt="...">
  <div class="card-body">
    <h5 class="card-title">Prato oriental</h5>
    <p class="card-text">Receita refrescante e cheia de vitaminas para o seu café da manhã!</p>
    <a href="#" class="btn  btn-cor-especial">Quero comprar</a>
  </div>
</article>

<article class="card border-color-card card-largura m-4 p-0 col-12 col-md-4" >
  <img src="../../../assets/images/receita-beterrabas.jpg" class="card-img-top img-card" alt="...">
  <div class="card-body">
    <h5 class="card-title">Beterrabas assadas</h5>
    <p class="card-text">Receita refrescante e cheia de vitaminas para o seu café da manhã!</p>
    <a href="#" class="btn  btn-cor-especial">Quero comprar</a>
  </div>
</article>

</div>


</div>
