<div class="container cor-especial ">
  <h1 class="text-center  pt-5">Faça você mesmo</h1>
  <p class="text-center text-secondary pb-5">Monte sua torta da forma que desejar escolha sua massa e seu recheio e ta pronto</p>
  <form>
    <div class="row">

      <div class="col-12 col-sm-2">
        <label for="exampleFormControlSelect1">Massa</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Cookie</option>
          <option>cookie chocolate</option>
          <option>cookie Red Velvet</option>
          <option>Salgada</option>

        </select>
      </div>
      <div class="col-8 col-sm-8">
        <label for="exampleFormControlSelect1">Recheio</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Chocolate ao leite</option>
          <option>Chocolate meio-amargo</option>
          <option>Chocolate branco</option>
          <option>Doce de leite</option>
          <option>Red Velvet</option>
        </select>
      </div>

      <div class="col-4 col-sm-2">
        <label for="exampleInputPassword1">Quantidade</label>
        <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Quantidade">
      </div>

    </div>
    <div class="row">
      <div class="col-12">
        <label for="exampleFormControlTextarea1">Comentario</label>
        <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="3"
        ></textarea>
      </div>

    </div>

  </form>
</div>
