<div class="container cor-especial ">
  <h1 class="text-center  pt-5">Faça você mesmo</h1>
  <p class="text-center text-secondary pb-5">Monte sua torta da forma que desejar! escolha sua massa e seu recheio e tá pronto</p>
  <form  [formGroup]="form" (ngSubmit)="submit()">
    <div class="row">

      <div class="col-12 col-sm-4">
        <label for="exampleFormControlSelect1" >Massa</label>
        <select class="form-control" id="exampleFormControlSelect1"  formControlName="massa" required>
          <option>Invertida</option>
          <option>Tradicional</option>
          <option>Red Velvet</option>
          <option>Salgada</option>

        </select>
      </div>
      <div class="col-12 col-sm-8">
        <label for="exampleFormControlSelect1">Recheio</label>
        <select class="form-control" formControlName="recheio">
          <option>Café</option>
          <option>Meio-amargo</option>
          <option>Ao leite</option>
          <option>Brigadeiro branco</option>
          <option>Brigadeiro de cream cheese</option>
          <option>Frango</option>
        </select>
      </div>

      <div class="col-12 col-sm-10" *ngIf="condicao">
        <label for="exampleFormControlSelect1">Adicionais</label>
        <select  class="form-control" formControlName="adicionais">
          <option>Catupiry</option>
          <option>Requeijão</option>

        </select>
      </div>

      <div class="col-4 col-sm-2">
        <label for="exampleInputPassword1">Quantidade</label>
        <input type="number" class="form-control" id="exampleInputPassword1" min="1" placeholder="Quantidade" formControlName="quantidade">
      </div>

    </div>
    <div class="row">
      <div class="col-12">
        <label for="exampleFormControlTextarea1">Comentario</label>
        <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="3"
          formControlName="comentario"
        ></textarea>
      </div>

    </div>

      <div class="pt-2 justify-content-end">
        <button type="submit" class="btn btn-cor-especial btn-lg" [disabled]="this.form.invalid">Enviar pedido</button>

      </div>

  </form>
</div>
