
<header >

  <app-nav-bar></app-nav-bar>
</header>


<app-carousel id="inicio"></app-carousel>
<title>fruto & fruta</title>

<section class="gradiente">

  <section >
    <h1 class="text-center cor-especial pt-5">Receitas para economizar e ganhar saúde</h1>
    <p class="text-center text-secondary pb-5">Nossas receitas ajudam você a aproveitar melhor os alimentos, economizar, ganhar tempo e praticidade</p>

  </section>

<section class="color-section-cards pt-5 pb-5" id="produtos">

  <app-cards></app-cards>
</section>
<section>
  <app-do-your-self id="doYourSlf"></app-do-your-self>
</section>


<footer class=" p-3">
  <p class="text-light m-0 text-center">contato:<a  class="text-light" href="mailto:email@frutafruto.com.br">email@frutafruto.com.br</a></p>

</footer>



</section>
