<header>

  <app-nav-bar></app-nav-bar>
</header>

<app-carousel></app-carousel>
<title>fruto & fruta</title>


<section >
  <h1 class="text-center cor-especial pt-5">Receitas para economizar e ganhar saúde</h1>
  <p class="text-center text-secondary pb-5">Nossas receitas ajudam você a aproveitar melhor os alimentos, economizar, ganhar tempo e praticidade</p>

</section>

<section class="color-section-cards" >

  <app-cards></app-cards>
</section>



  <p>contato:<a href="mailto:email@frutafruto.com.br">email@frutafruto.com.br</a></p>
